.title-message {
    position: absolute;
    width: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -55%);
  
    z-index: 1;
    text-align: center;
  }
  .profile-options{
    display: flex;
    column-gap: 70px;
    align-items: center;
  }
  
  .title-message strong {
    font-size: 1.25em;
  }
  .profile-role-tagline {
    font-size: 20px;
    font-weight: 500 !important;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 10px;
    border-radius: 5px;
  }
  
  .title-message div {
    color: #fff; 
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
  }
  
  .title-message .main {
    font-size: 50px;
  }
  
  .title-message .sub {
    font-size: 27px;
    letter-spacing: 2px;
  }

@media only screen and (max-width: 568px) {
.profile-options{
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
}