.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.custom-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Loader styles */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  color: hsla(0, 0%, 100%, 0.524);
  
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 25vh;
  
  opacity: 0.8;

  span {
    display: inline-block;
    animation: pulse 0.2s alternate infinite ease-in-out;

    &:nth-child(odd) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* Mobile optimization and rotation */
@media only screen and (max-width: 768px) {
  .custom-img {
    height: 98vh;
    width: auto;
    object-fit: cover;
  }

  .carousel-item {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}