.scroll-down {
    position: absolute;
    z-index: 1;
    bottom: -2%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: transparent;
    font-weight: bold;
    text-shadow: 1px 1px #45a29e;
    color: white;
    animation: 3s linear 1s infinite normal none running MoveUpDown;
  }
  
  .scroll-down .turn {
    font-size: 30px;
    cursor: pointer;
    transform: rotate(90deg);
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
    }
  
    50% {
      bottom: 25px;
    }
  }
  